* {
    padding: 0;
    margin: 0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
.wrapper {
    display: flex;
    justify-content: center;
}
.box-color {
    width: 20rem;
    height: 20rem;
    display: flex;
    margin: 5rem auto 0;
    cursor: pointer;
    &__item {
        $size: 20rem;

        width: $size;
        height: $size;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: white;

        transition: all 0.3s linear;

    }
    &__text {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 2rem;
    }
}

button {
    font-size: 2.5rem;
}